<!DOCTYPE html>
<html>
<head>
	<title>Delete Customer</title>
</head>
<body>
	<h1>Delete Customer</h1>
	<a href="/home">Home</a> | 
	<a href="admin/addproducts">Add Product</a> | 
	<a href="admin/deleteproducts">Delete Product</a> | 
	<a href="admin/deletecustomer">Delete Customer</a> | 
	<a href="/logout">logout</a>
	
	<table>
		<tr>
				<td>Name:</td>
				<td></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td></td>
			</tr>
			<tr>
				<td>User</td>
				<td></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td></td>
			</tr>
	</table>

<form method="post">
	<h3>Are you sure?</h3>
	<input type="submit" name="submit" value="Confirm">
</form>

</body>
</html>