<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h1>Edit</h1>
	<a href="/index">Back</a> | 
	<a href="/logout">logout</a>
	
	<form method="post">
	<table border="1">
			<tr>
					<td>Name:</td>
					<td></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td></td>
				</tr>
				<tr>
					<td>User:</td>
					<td></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td></td>
				</tr>
	</table>
</form>

</body>
</html>