<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
</head>
<body>
	<h1>Welcome to Admin page</h1>
	<a href="/home">Home</a> | 
	<a href="admin/addproducts">Add Product</a> | 
	<a href="admin/deleteproducts">Delete Product</a> | 
	<a href="admin/deletecustomer">Delete Customer</a> | 
	<a href="/logout">logout</a>

	
	 <!-- <table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>PASSWORD</td>
			<td>ACTION</td>
		</tr>

		 
	</table> -->
</body>
</html>