<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
</head>
<body>
	<h1>Welcome to Admin page</h1>
	<a href="admin/addproducts">Add Product</a> | 
	<a href="admin/deleteproducts">Delete Product</a> | 
	<a href="admin/deletecustomer">Delete Customer</a> | 
	<a href="admin/logout">logout</a>

	
	 <table>
			<tr>
					<td>Name:</td>
					<td></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td></td>
				</tr>
				<tr>
					<td>User:</td>
					<td></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td></td>
				</tr>

		 
	</table>
</body>
</html>