<!DOCTYPE html>
<html>
<head>
	<title>Update Product</title>
</head>
<body>
	<h1>Update Product</h1>
	<a href="/index">Home</a> | 
	<a href="/logout">logout</a>
	
	<form method="post">
			<table>
					<tr>
						<td>Image</td>
						<td>></td>
					</tr>
					<tr>
						<td>Description</td>
						<td></td>
					</tr>
					<tr>
						<td>Size</td>
						<td></td>
					</tr>
				</table>
</form>

</body>
</html>