<!DOCTYPE html>
<html>
<head>
	<title>Customer page</title>
</head>
<body>
	<h1>Welcome </h1>
	<a href="/home">Back</a> | 
	<a href="/logout">logout</a>
	
	<table border="1">
			<table>
					<tr>
							<td>Name:</td>
							<td></td>
						</tr>
						<tr>
							<td>Gender:</td>
							<td></td>
						</tr>
						<tr>
							<td>Usertype:</td>
							<td></td>
						</tr>
						<tr>
							<td>Username:</td>
							<td></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td></td>
						</tr>
		
				 
			</table>
	</table>


</body>
</html>